* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #d3d2ce;
}
.body1 {
  background-color: #dad9d5;
}
.body2 {
  margin-top: 2.399%;
  display: none;
  background-image: url("images/home2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
.navbar {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  width: 95%;
  height: 75px;
  margin-left: 15px;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  color: rgb(184 134 84);
  font-size: 35px;
  font-family: Arial;
  padding-top: 10px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
.navbar ul {
  margin-left: 130%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(184 134 84);
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.navbar ul li a:hover {
  color: #fff;
}
.searchbar {
  width: 330px;
  float: left;
  margin-left: 35%;
}
.search {
  font-family: "Times New Roman";
  width: 230px;
  height: 40px;
  background: #d3d2ce;
  border-top: 2px solid rgb(184, 134, 84);
  border-bottom: 2px solid rgb(184, 134, 84);
  border-left: 2px solid rgb(184, 134, 84);
  margin-top: 13px;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn {
  width: 100px;
  height: 40px;
  background: rgb(184 134 84);
  border: 5px solid rgb(184 134 84);
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}
::placeholder {
  color: rgb(184 134 84);
  font-family: Arial;
}
.upper-image {
  display: flex;
  width: 100%;
  height: 750px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.upper-image img {
  width: 100%;
  margin-top: -3%;
}
.upper-image h1 {
  display: flex;
  color: rgb(184 134 84);
  margin-left: -77%;
  margin-top: 20%;
  font-size: 300%;
}
.flex {
  margin-top: 5%;
  margin-left: 50px;
  display: flex;
  width: 95%;
  height: 500px;
}
.flex div {
  background-color: #caad90;
  width: calc(70% / 3);
  margin-right: 15px;
  border-radius: 20px;
  display: flex;
}
.flex div:hover {
  box-shadow: rgba(0, 0, 0, 0.42) 12px 12px 12px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  height: 250px;
}
.div2,
.div4,
.div6 {
  margin-top: 100px;
}
.div5 {
  margin-top: 180px;
}
.flex img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgb(184 134 84);
}
h3 {
  cursor: pointer;
  display: flex;
  margin-left: -170px;
  margin-top: 215px;
  color: #ffffff;
}
h3:hover {
  color: #cececb;
}
.player {
  height: 95vh;
}
.info,
.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.box {
  background-color: #d3d2ce;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#art {
  display: flex;
  margin-top: -6%;
  height: 310px;
  width: 100%;
  border: 2px solid #d3d2ce;
  background-size: cover;
  background-position: center;
  margin-bottom: 5%;
}
#now-playing {
  margin-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: medium;
  font-weight: bold;
}
#name {
  margin-top: 5%;
  font-size: 2.5rem;
}
#arttist {
  margin-top: 5px;
  font-size: 1.5rem;
}
.buttons,
.buttons2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons {
  margin-top: 5%;
}
.buttons2 {
  margin-bottom: -5%;
}
#plypause-btn,
#prev-btn,
#next-btn {
  padding-right: 65px;
  padding-left: 65px;
  opacity: 0.8;
  transition: opacity 0.2s;
}
#repeat-btn,
#random-btn,
#fav-btn,
#volume-btn {
  font-size: 25px;
  padding: 33px;
  opacity: 0.8;
  transition: opacity 0.2s;
}
#repeat-btn:hover,
#random-btn:hover,
#plypause-btn:hover,
#prev-btn:hover,
#next-btn:hover {
  opacity: 1;
}
.slider {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-vol {
  display: none;
  transform: rotate(270deg);
  width: 10%;
  height: 5%;
  margin-left: -75%;
}
#seek_slider,
#volume_slider {
  appearance: none;
  height: 5px;
  background-color: #c8b698;
  transition: opacity 0.2s;
}
#seek_slider::-webkit-slider-thumb,
#volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #c8b698;
  cursor: grab;
  border-radius: 100%;
}
#seek_slider:hover,
#volume_slider:hover {
  opacity: 1;
}
#seek_slider {
  margin-left: 3px;
  width: 200px;
  margin-right: 3px;
}
#volume_slider {
  margin: 4px;
}
#current-time,
#total-time {
  padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}
.active,
.randomActive {
  color: rgb(184 134 84);
}
.musicList {
  position: absolute;
  left: 0;
  height: 260px;
  bottom: -55%;
  opacity: 0;
  width: 87%;
  pointer-events: none;
  padding: 15px 30px;
  border-radius: 15px;
  background: #d3d2ce;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: all 0.14s ease-out;
}
.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.musicList .header,
.musicList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.musicList .header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: rgb(90, 90, 90);
}
.header i {
  padding-right: 5px;
  cursor: default;
}
.header span {
  margin-left: 5px;
  margin-bottom: 5px;
}
.header #close {
  cursor: pointer;
  font-size: 22px;
  color: rgb(90, 90, 90);
}
.musicList ul {
  margin: 10px 0;
  max-height: 250px;
  overflow-y: auto;
  padding-left: 30px;
}
.musicList ul li {
  list-style: none;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: rgb(90, 90, 90);
  border-bottom: 1px solid rgb(214 175 135);
}
.musicList ul::-webkit-scrollbar {
  width: 0;
}
.musicList ul li:last-child {
  border-bottom: 0px;
}
.musicList ul li .row span {
  font-size: 17px;
}
ul li .row span p {
  opacity: 0.9;
}
ul li .time {
  font-size: 16px;
}
.empty {
  background-color: #d3d2ce;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 20px;
  width: 350px;
  height: 150px;
  margin-top: 20%;
  margin-left: 37%;
  font-weight: bolder;
  border: 1px solid transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 10;
}
.empty p {
  margin-top: 5%;
  margin-left: 8%;
}
.empty button {
  cursor: pointer;
  background-color: #d3d2ce;
  border-color: burlywood;
  border-radius: 20px;
  width: 230px;
  height: 50px;
  margin-left: 20%;
  margin-top: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}
.empty button:hover {
  background-color: #fff;
  color: burlywood;
}
.home {
  color: #fff;
  margin-top: -148%;
  padding-left: 45px;
  padding-right: 30px;
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
}
.options {
  display: none;
  width: 230px;
  border: 2px solid #c8b698;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(184 134 84);
}
.option {
  cursor: pointer;
  display: block;
}
#homeIcon {
  margin-right: 85%;
}
